.header-main-logo {
	display: flex;
    justify-content: center; /* This will center the contents horizontally */
    align-items: center; /* This will center the contents vertically */
    flex-direction: row; /* Arrange items in a row */
	padding-top: 15px;
    /* Add any necessary padding or margins */
}

.header-main-logo img {
	/* Adjust the width and height as necessary to fit your design */
	width: 150px; /* Example size */
	height: 150px; /* Example size */
	border-radius: 50%; /* This makes it circular */
	object-fit: cover; /* This ensures the image covers the space without being stretched */
	border: 3px solid white; /* Adjust the color and width as needed */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Adds shadow for depth */
  }

.header-main-logo p {
	font-family: 'Times New Roman', Times, serif;
}

.club-name {
    font-size: 48px; /* Adjust the size as necessary */
    color: blue; /* Or any color you prefer */
    margin: 15px; /* Remove default margins */
}

.club-motto {
    font-size: 36px; /* Adjust the size as necessary */
    color: red; /* Or any color you prefer */
    margin: 15px; /* Remove default margins */
	font-style: italic;
}