body {
    background-image: url('../imgs/Background-pic.jpg'); /* Replace with your image path */
    background-size: cover; /* Cover the entire area of the page */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center center; /* Center the image in the page */
    background-attachment: fixed; /* Optional: Fix the background during scroll */
    margin: 0; /* Remove default margin */
    height: 100vh; /* Make sure the body covers the full viewport height */
}

a {
	cursor: pointer; /* changes to hand icon when a link is selected */
}

.header-main {
	width: 100%;
	display: block;
	font-family: Arial;
}
